nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.logo-wrap {
  letter-spacing: 0.15rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 0.7rem;
}

.nav-link {
  color: var(--text-primary-color);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--purple-color);
}

/* mobile toggle button */
#mobile-toggle-btn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  cursor: pointer;
  display: none;
}

.toggle-btn-line {
  border-bottom: 3px solid var(--primary-color);
}

@media screen and (max-width:768px) {
  nav {
    flex-direction: column;
  }

  #mobile-toggle-btn {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.25s ease-out forwards;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .logo-wrap {
    text-align: center;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}