:root {
  --primary-color: #5e76d6;
  --text-primary-color: #5e76d6;
  --secondary-color: #162152;
  --text-secondary-color: #162152;
  --text-color: #000;
  --text-light: #555;
  --purple-color: #6e3d8a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.container {
  padding: 0.75rem;
}
h1,
h2,
h3 {
  font-family: 'Mouse Memoirs', cursive;
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  color: var(--text-primary-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}