:root {
  --primary-color: #5e76d6;
  --text-primary-color: #5e76d6;
  --secondary-color: #162152;
  --text-secondary-color: #162152;
  --text-color: #000;
  --text-light: #555;
  --purple-color: #6e3d8a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* max-width: 900px; */
  margin: 0 auto;
}

section.container {
  padding: 2rem 3rem;
}

h1,
h2,
h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h1,
h2 {
  font-family: 'Mouse Memoirs', cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ol li {
  margin-left: 1.2rem;
}

@media screen and (max-width:768px) {
  section.container {
    padding: 1rem;
  }
}

.recipe-details div {
  margin-bottom: 15px;
}